/* Global */

:root {
  --color-bg: #FFE5E5;
  --color-primary: rgba(105, 37, 138, 0.78);
  --color-secondary: rgba(189, 0, 112, 0.98);
  --color-wrapper: #FFE5E5;
  --color-black: #000000;
  --color-white: #FFFFFF;
}

body {
  background: var(--color-bg);
  color: var(--color-black);
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

p {
  color: #143c00;
}

li {
  color: #143c00;
  padding-bottom: 0.5em;
}


h1 {
  font-family: 'Staatliches', cursive;
  font-size: 5em;
  margin: 4rem 0 0;
  color: var(--color-primary);
}

h2 {
  font-size: 3em;
  color: var(--color-secondary);
  text-transform: lowercase;
  margin: 0;
  line-height: 4rem;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
}

/* Nav */

.navigation {
  padding-top: 1rem;
}

.navigation h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 550px) {
  .navigation h1 {
    font-size: 5rem;
  }
}

@media only screen and (min-width: 960px) {
  .navigation {
    padding-top: 0;
  }
}

.main-menu {
  line-height: 2rem;
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
  width: 100%;
}

@media only screen and (min-width: 550px) {
  .main-menu {
    line-height: 1rem;
  }
}

@media only screen and (min-width: 960px) {
  .main-menu {
    text-align: center;
  }
}

.main-menu li {
  display: inline;
  margin-right: 2rem;
}

/* Banner */

.banner {
  background: var(--color-white);
  margin-bottom: 2rem;
  padding: 1rem 1rem 2rem;
}

.tag-line {
  font-size: 1.25rem;
  line-height: 1.25;
  text-align: right;
}

.banner-photo {
  display: none;
}

@media only screen and (min-width: 550px) {
  .banner {
    display: grid;
    grid-template-rows: 75% 25%;
  }

  .tag-line {
    height: 400px;
    width: 75%;
  }

  .banner-photo {
    display: block;
  }
}


/* Content */
.content-block {
  padding: 0 1rem;
}

@media only screen and (min-width: 550px) {
  .content-block {
    padding: 0;
  }
}

.who-am-i-photo {
  width: 80%
}

@media only screen and (min-width: 960px) {
  .who-am-i-photo {
    display: none;
  }
}
